.header {
    background-color: grey;
    color: white;
    padding: 12px;
    padding-left: 10%;
    letter-spacing: 4px;
  }
  .footer {
    background-color: grey;
    color: white;
    padding: 12px;
    text-align: center;
    letter-spacing: 4px;
  }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .menu {
    width: 25%;
  }

  .sidemenu {
    width: 25%;
  }

  .sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidemenu li a {
    margin-bottom: 5px;
    display: block;
    padding: 8px;
    background-color: rgb(150, 231, 236);
    text-decoration: none;
    color: #666;
    letter-spacing: 1.5px;

  }

  .sidemenu li a:hover {
    background-color: rgb(6, 131, 114);
    color:white;
  }
  
  .sidemenu li a.active {
    background-color: #b3bebd;
    color: white;
  }
  .content {
    width: 90%;
    word-spacing: 5px;
  }